@import "tailwindcss";
@source "../index.html";
@source "./**/*.{js,ts,jsx,tsx}";

@theme {
    --font-plus-jakarta: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-dancing: "Dancing Script", cursive;
    --font-pacifico: "Pacifico", cursive;

    --color-rose-50: #fff1f2;
    --color-rose-100: #ffe4e6;
    --color-rose-200: #fecdd3;
    --color-rose-400: #fb7185;
    --color-rose-500: #f43f5e;
    --color-rose-600: #e11d48;
}

@layer base {
    body {
        @apply antialiased text-slate-800 bg-[#FFF8FA];
    }
}